APP_NAME="شبكة المنير - البوابة العامة"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Riyadh
APP_URL=http://localhost:8001

APP_LOCALE=ar
APP_FALLBACK_LOCALE=ar
APP_FAKER_LOCALE=ar_SA

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file
FILESYSTEM_DISK=public
CACHE_STORE=file

HAWZA_PORTAL_URL=https://almoneer-droos.onrender.com
