/vendor
/node_modules
.env
.env.backup
.env.production
.phpunit.result.cache
/scratch/
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!.gitkeep
